.contact{
    display: flex;
    flex-direction: column;
    position: relative;
    width: 100%;
    background-color: $background-white;
    padding-top: 165px;
    padding-bottom: 87px;
    box-sizing: border-box; 
    overflow: hidden;
    @include sm {
        padding-top: 80px;
        padding-bottom: 112px;
    }
    & .title-d4, & .lead-text{
        text-align: center;
        margin: 0 0;
    }
    & .title-d4{
        color: $color-gray4;
    }
    & .lead-text{
        max-width: 690px;
        margin: 25px auto 0;
        color: $color-gray4;
    }
    &_cont{
        padding-top: 90px;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
        @include sm {
            padding-top: 60px;
        }
        &_form{
            display: flex;
            flex-direction: column;
            justify-content: center;
            width: 100%;
            max-width: 486px;
            padding: 36px;
            background: $background-white;
            border: 1px solid $background-white2;
            box-sizing: border-box;
            border-radius: 5px;
            filter: drop-shadow(0px 8px 16px rgba(0, 0, 0, 0.05));
            &_list{
                display: flex;
                flex-direction: column;
                margin-bottom: 24px;
                &_label{
                    font-family: $font-nunito;
                    font-style: normal;
                    font-weight: 600;
                    font-size: 16px;
                    line-height: 150%;
                    color: $color-gray;
                    margin-bottom: 8px;
                }
                &_input, &_select{
                    width: 100%;
                    background: $background-white;
                    border-radius: 3px;
                    border: 1px solid $background-white2;
                    outline: none;
                    height: 48px;
                    padding: 12px;
                    box-sizing: border-box;
                    font-family: $font-nunito;
                    font-style: normal;
                    font-weight: 600;
                    font-size: 16px;
                    line-height: 150%;
                    color: $color-gray;
                    &::placeholder {
                        color: rgba($color-gray, 0.5);
                      }
                }
                &_select{
                    position: relative;
                    cursor: pointer;
                    color: rgba($color-gray, 0.5);
                    -moz-appearance:none;  
                    -webkit-appearance:none;  
                    appearance:none;
                    background: transparent;
                    background-image: url('../svg/select-arrow.svg');
                    background-repeat: no-repeat;
                    background-position-x: calc(100% - 15px);
                    background-position-y: 22px;
                    & option{
                        border: 1px solid $background-white2;
                        background: $background-white;
                        padding: 12px;
                        font-size: 16px;
                        line-height: 24px;
                        color: $color-gray;
                    }
                }
            }
            & .general-button{
                padding: 12px;
                font-size: 16px;
                line-height: 150%;
                @include xsl {
                    min-width: 100%;
                }
            }
        }
    }
}
 