$background-black:     #000000;
$background-gray :     #051B35;
$background-gray2:     #F7F9FC;
$background-gray3:     #051B35;
$background-purple:    #493F61;
$background-green:     #0AE88D;
$background-green-rgb: rgba(108, 233, 141, 0.25);
$background-white:     #ffffff;
$background-white2:    #EAEDF2;

$background-gray3: #3C424D;
$background-gray4: rgba(60, 66, 77, 0.9);


$color-white: #ffffff;
$color-black: #000000;
$color-gray:  #555A64;
$color-gray2: #2C3038;
$color-gray3: #171224;
$color-gray4: #48476C;
$color-gray5: #051B35;
$color-gray6: #363354;
$color-green: #0AE88D;


$font-biryani:  'Biryani', sans-serif;
$font-nunito:  'Nunito Sans', sans-serif;

