<nav class="side medium stroke">
  <div class="navigation default">
    <ul></ul>
  </div>
</nav>
<!-- Panel Top #02 -->
<nav class="panel top hideOnScroll">
  <div class="sections desktop">
    <div class="left">
      <a href="#order" title="Autowäsche Berlin - Profis waschen dein Auto"
        ><img
          data-src="{{ .Site.BaseURL }}img/favicon.ico"
          alt="Image"
          class="topbar-logo lazyload"
      /></a>
    </div>
    <div class="right">
      <ul class="menu trim">
        <li><a href="#Sofunktioniert's">So funktioniert's</a></li>
        <li><a href="#preis">Preise</a></li>
        <li><a href="#FürUnternehmen">Für Unternehmen</a></li>
        <li><a href="#faq">FAQ</a></li>
      </ul>
    </div>
  </div>
  <div class="sections compact hidden">
    <div class="left">
      <a href="#" title="Slides Framework"
        ><svg style="width: 82px; height: 24px;">
          <use
            xmlns:xlink="http://www.w3.org/1999/xlink"
            xlink:href="#logo"
          ></use></svg></a>
    </div>
    <div class="right">
      <span class="button actionButton sidebarTrigger" data-sidebar-id="1"
        ><svg>
          <use
            xmlns:xlink="http://www.w3.org/1999/xlink"
            xlink:href="#menu"
          ></use></svg></span>
    </div>
  </div>
</nav>

<!-- Sidebar -->
<nav class="sidebar" data-sidebar-id="1">
  <div class="close">
    <svg>
      <use
        xmlns:xlink="http://www.w3.org/1999/xlink"
        xlink:href="#close"
      ></use>
    </svg>
  </div>
  <div class="content">
    <a href="#" class="logo"
      ><svg width="100" height="30">
        <use
          xmlns:xlink="http://www.w3.org/1999/xlink"
          xlink:href="#logo"
        ></use></svg></a>
    <ul class="mainMenu margin-top-3">
      <a class="button cyan rounded small" href="index.html#order"
        >Jetzt beauftragen</a
      >
    </ul>
    <ul class="mainMenu margin-top-3">
      <li><a href="#Sofunktioniert's">So funktioniert's</a></li>
      <li><a href="#preis">Preise</a></li>
      <li><a href="#FürUnternehmen">Für Unternehmen</a></li>
      <li><a href="#faq">FAQ</a></li>
    </ul>
    <ul class="subMenu small opacity-4">
      <li>
        <a href="/rechtliches/#impressum" target="_blank" rel="nofollow"
          >Impressum</a
        >
      </li>
      <li>
        <a href="/rechtliches/#agb" target="_blank" rel="nofollow">AGB</a>
      </li>
      <li>
        <a href="/rechtliches/#datenschutz" target="_blank" rel="nofollow"
          >Datenschutz</a
        >
      </li>
    </ul>
    <ul class="social opacity-8">
      <li>
        <a href="https://fb.com/wasch.mein.auto.de"
          ><svg>
            <use
              xmlns:xlink="http://www.w3.org/1999/xlink"
              xlink:href="#facebook"
            ></use></svg></a>
      </li>
      <li>
        <a href="https://twitter.com/waschmeinauto"
          ><svg>
            <use
              xmlns:xlink="http://www.w3.org/1999/xlink"
              xlink:href="#twitter"
            ></use></svg ></a>
      </li>
      <li>
        <a href="https://instagram.com/wasch.mein.auto"
          ><svg>
            <use
              xmlns:xlink="http://www.w3.org/1999/xlink"
              xlink:href="#instagram"></use></svg></a>
      </li>
    </ul>
  </div>
</nav>